@font-face {
  font-family: "FARRAY-Regular";
  src: url("../fonts/FARRAY-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/FARRAY-Regular.otf") format("opentype"),
    url("../fonts/FARRAY-Regular.woff") format("woff"),
    url("../fonts/FARRAY-Regular.ttf") format("truetype"),
    url("../fonts/FARRAY-Regular.svg#FARRAY-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Alcubierre";
  src: url("../fonts/Alcubierre.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Alcubierre.otf") format("opentype"),
    url("../fonts/Alcubierre.woff") format("woff"),
    url("../fonts/Alcubierre.ttf") format("truetype"),
    url("../fonts/Alcubierre.svg#Alcubierre") format("svg");
  font-weight: normal;
  font-style: normal;
}
