.nav {
  padding: 0 20px;
  width: 100%;

  &-list {
    @include flexbox(flex);
    @include align-items(center);
    @include justify-content(flex-end);
    padding-left: 0;
    margin: 9px 0px 9px;
  }

  &-item {
    color: $white;
    list-style: none;
    margin: 5px 10px 0px;
    cursor: pointer;
    text-align: center;

    &:hover {
      .nav-link {
        color: $color-primary;
      }
    }
  }

  &-link {
    @include transition(0.3s all ease);
    @include font-size(22);
    color: $blackgrey;
    font-family: $font-secondary;
    padding: 15px 18px 10px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
  }

  &-cta {
    @include transition(0.3s all ease);
    background: $blackgrey;
    border: 3px solid $blackgrey;
    border-radius: 3px;
    padding: 7px 10px 1px;
    color: $white;
    margin-left: 20px;

    .nav-link {
      color: $white;
    }

    &:hover {
      background: $white;
      border: 3px solid $blackgrey;
      text-decoration: none !important;

      .nav-link {
        color: $blackgrey;
      }
    }
  }
}

// @media only screen and (max-width: $break-xlg) {
//   .nav {
//     &-item {
//       margin: 0 5px;
//     }
//   }
// }

// @media only screen and (max-width: $break-lg) {
//   .nav {
//     &-item {
//       margin: 0 5px;
//     }
//   }
// }
