.clearfix:after,
.group:after {
  content: " ";
  display: block;
  clear: both; }

/** --------------------------------------------------------------------

    Flexbox Mixins

--------------------------------------------------------------------- */
.hide {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

.remove {
  display: none; }

.is-hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
  opacity: 0;
  -webkit-transition: opacity ease-in-out 0.2s;
  -moz-transition: opacity ease-in-out 0.2s;
  -ms-transition: opacity ease-in-out 0.2s;
  transition: opacity ease-in-out 0.2s;
  visibility: hidden; }

.clearfix:after,
.group:after {
  content: " ";
  display: block;
  clear: both; }

/** --------------------------------------------------------------------

    Flexbox Mixins

--------------------------------------------------------------------- */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 100%;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6; }

blockquote {
  border-left: 2px solid #4834d4;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 1.4em;
  font-style: italic;
  font-weight: 400;
  margin: 0 0 20px;
  padding-left: 25px; }

h1,
h2,
h3,
h4,
h5 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }

h1 {
  font-size: 68px;
  font-style: normal;
  font-weight: 400;
  margin: 0 0 25px; }

h2 {
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  margin: 0 0 25px; }

h3 {
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  margin: 0 0 25px; }

h4 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  margin: 0 0 25px; }

h5 {
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  margin: 0 0 25px; }

p {
  font-size: 16px;
  margin: 0 0 20px; }

pre {
  background: #222;
  color: #fff;
  display: block;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 13px;
  line-height: 20px;
  margin: 0 0 20px;
  padding: 10px;
  word-break: break-all;
  word-wrap: break-word; }

code {
  border-radius: 5px;
  background: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 13px;
  line-height: 20px;
  padding: 2px 10px;
  word-break: break-all;
  word-wrap: break-word; }

a {
  color: #4834d4; }
  a:hover, a:focus {
    text-decoration: none; }

@media screen and (max-width: 480px) {
  body {
    font-size: 14px; }
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-bottom: 10px; }
  h1 {
    font-size: 26px; }
  h2 {
    font-size: 18px; }
  h3 {
    font-size: 16px; }
  h4,
  h5,
  p,
  ul,
  ol {
    font-size: 14px; } }

.clearfix:after,
.group:after {
  content: " ";
  display: block;
  clear: both; }

/** --------------------------------------------------------------------

    Flexbox Mixins

--------------------------------------------------------------------- */
@font-face {
  font-family: "FARRAY-Regular";
  src: url("../fonts/FARRAY-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/FARRAY-Regular.otf") format("opentype"), url("../fonts/FARRAY-Regular.woff") format("woff"), url("../fonts/FARRAY-Regular.ttf") format("truetype"), url("../fonts/FARRAY-Regular.svg#FARRAY-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Alcubierre";
  src: url("../fonts/Alcubierre.eot?#iefix") format("embedded-opentype"), url("../fonts/Alcubierre.otf") format("opentype"), url("../fonts/Alcubierre.woff") format("woff"), url("../fonts/Alcubierre.ttf") format("truetype"), url("../fonts/Alcubierre.svg#Alcubierre") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

.btn {
  border-radius: 5px;
  background: transparent;
  border: 1px solid #4834d4;
  color: #4834d4;
  display: inline-block;
  font-size: 100%;
  outline: none;
  padding: 0 25px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize; }
  .btn:hover, .btn:focus {
    background: #4834d4;
    border-color: #4834d4;
    color: #fff;
    text-decoration: none; }
  .btn:active {
    background: #3725b0;
    border-color: #3725b0; }

.btn-primary {
  background-color: #4834d4;
  border-color: #4834d4;
  color: #fff; }
  .btn-primary:hover, .btn-primary:focus {
    background: #3d2ac5;
    border-color: #3d2ac5;
    color: #fff; }
  .btn-primary:active {
    background: #3725b0;
    border-color: #3725b0;
    color: #fff; }

.btn-lg {
  font-size: 1.4em;
  height: 66px;
  padding: 0 60px; }

.btn-sm {
  font-size: 0.85em;
  height: 30.8px;
  padding: 0 10px; }

.btn-link {
  box-shadow: none;
  background: transparent;
  border: 0;
  color: #4834d4;
  text-shadow: none;
  text-transform: none; }
  .btn-link:hover, .btn-link:focus {
    background: transparent;
    color: #4834d4;
    text-decoration: underline; }

@media screen and (max-width: 480px) {
  .btn {
    display: block;
    margin-bottom: 10px;
    width: 100%; } }

.hero {
  background: url(../images/bg-lg.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 507px;
  width: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative; }
  .hero h2 {
    font-size: 48px !important;
    font-size: 3rem !important;
    font-family: "Alcubierre", Sans-serif;
    color: #fff;
    text-align: center;
    margin: 0 auto 5px; }
  .hero-cta {
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
    transition: 0.3s all ease;
    font-size: 24px !important;
    font-size: 1.5rem !important;
    border: 1px solid #fff;
    cursor: pointer;
    color: #fff;
    font-weight: 300;
    padding: 12px 22px 14px;
    min-width: 200px; }
    .hero-cta:hover {
      background: #373737;
      border: 1px solid #fff; }

img,
video,
audio,
iframe,
object {
  max-width: 100%; }

.nav {
  padding: 0 20px;
  width: 100%; }
  .nav-list {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    padding-left: 0;
    margin: 9px 0px 9px; }
  .nav-item {
    color: #fff;
    list-style: none;
    margin: 5px 10px 0px;
    cursor: pointer;
    text-align: center; }
    .nav-item:hover .nav-link {
      color: #4834d4; }
  .nav-link {
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
    transition: 0.3s all ease;
    font-size: 22px !important;
    font-size: 1.375rem !important;
    color: #373737;
    font-family: "Alcubierre", Sans-serif;
    padding: 15px 18px 10px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase; }
  .nav-cta {
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
    transition: 0.3s all ease;
    background: #373737;
    border: 3px solid #373737;
    border-radius: 3px;
    padding: 7px 10px 1px;
    color: #fff;
    margin-left: 20px; }
    .nav-cta .nav-link {
      color: #fff; }
    .nav-cta:hover {
      background: #fff;
      border: 3px solid #373737;
      text-decoration: none !important; }
      .nav-cta:hover .nav-link {
        color: #373737; }

.banner {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column; }
  .banner .logo-heading {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-size: 28px !important;
    font-size: 1.75rem !important;
    margin: 0;
    height: 64px; }
  .banner .logo-img {
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    transition: all 0.1s ease;
    margin: 10px 10px 0 20px;
    height: 50px;
    width: 50px; }
  .banner-nav {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    background: transparent;
    z-index: 75;
    width: 100%; }
    .banner-nav--top {
      position: relative; }
    .banner-nav--scroll {
      position: fixed; }
      .banner-nav--scroll .logo-heading {
        width: 20%; }

@media only screen and (max-width: 400px) {
  .banner {
    padding: 15px; }
    .banner .logo-main {
      margin: 14px 0 0;
      width: 160px; } }

.info {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 0 !important;
  border-bottom: 3px solid #0f6b9f; }
  .info-contain {
    min-height: 320px;
    padding: 20px;
    width: 33.33333%; }
    .info-contain h4 {
      font-size: 30px !important;
      font-size: 1.875rem !important; }
  .info-left {
    background: #f7f3f6; }
  .info-mid {
    background: #b5eff3; }
  .info-right {
    background: #9ed6f6; }
    .info-right ul > li {
      text-align: left; }

.mission {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  border-bottom: 2px solid #0f6b9f;
  padding: 0 !important; }
  .mission-contain {
    min-height: 320px; }
  .mission-msg {
    padding: 20px;
    text-align: left;
    width: 60%; }
    .mission-msg h3 {
      font-size: 46px !important;
      font-size: 2.875rem !important;
      font-weight: 500; }
  .mission-img {
    background: #feddc6;
    border-left: 4px solid #0f6b9f;
    width: 40%; }

.benefits {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center; }
  .benefits-contain {
    border: 2px solid #0f6b9f;
    border-bottom-width: 4px;
    min-height: 280px;
    padding: 20px;
    width: 25%; }
    .benefits-contain h4 {
      font-size: 26px !important;
      font-size: 1.625rem !important; }

.main-section {
  min-height: 250px;
  text-align: center;
  width: 100%; }

body {
  margin: 0; }
